* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

body {
    font-family: 'Poppings', sans-serif;
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    height: 10vh;
}

.logo-container,
.cart,
.nav-links {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo {
    font-size: 400;
    margin: 5px;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    font-size: 18px;
    text-decoration: none;
}

nav {
    flex: 2;
}

.cart {
    justify-content: flex-end;
    flex: 1;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 80vh;
}

.intrduction {
    flex: 2;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, rgb(51, 51, 51), rgb(145, 145, 145));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: rgb(68, 68, 68)
}

.cta-select {
    border: 2px solid palevioletred;
    background: transparent;
    color: palevioletred;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-add {
    font-size: 16px;
    border: none;
    background: palevioletred;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin: 30px 0px 0px 0px;
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cover {
    display: flex;
    flex: 1;
    justify-content: center;
}

.cover img {
    height: 60vh;
}

.big-eclipse {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 80%;
    z-index: -2;
    opacity: 0.5;
}

.mid-eclipse {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}

.small-eclipse {
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
    height: 30%;
}